.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
}

.username {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.email {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

.password {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

.confirm_password {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

.btn {
  padding: 5px 10px 5px 10px;
  background-color: #4caf50;
  border-radius: 5px;
  border: 1px solid #121212;
}

.error {
  color: red;
}
